---
import { themeConfig } from '~/.config'

const { title, subtitle } = themeConfig.site
---

<hgroup class="site-brand">
  <a class="not-underline-hover" href="/">
    <p class="brand-subtitle">{subtitle}</p>
    <h1 class="brand-title">{title}</h1>
  </a>
</hgroup>
